includes:
  - vendor/larastan/larastan/extension.neon
  - phpstan.neon.dist
parameters:
  # level goes up to 10
  level: 0
  paths:
    - app
    - config
    - packages
    - routes
    - scripts
    - tests
  excludePaths:
    - packages/aft/*/vendor
    - packages/aft/memberforms/vendor/sabberworm
