@use 'variables' as *;

// Password
.splash-background {
    position: fixed;
    top: 0;
    left: 0;

    min-height: 100%;
    min-width: 2247px;

    width: 100%;
    height: auto;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

// Remember Me

.splash {
    .form-control:focus, .form-check-input:focus, .btn:focus {
        border: solid 3px steelblue;
        border-radius: 0.25rem;
    }

    .btn:focus {
        margin: -2px;
    }

    .form-check-input:focus {
        outline: solid 2px steelblue !important;
    }
}

@media only screen and (min-width: 992px) {
    .login-btn {
        width: 170px;
    }

    .login-hr {
        text-align: right;
        margin-inline-start: 240px;
        width: 50%;
    }
    .get-connected-btn {
        width: 350px;
    }
}

@media only screen and (max-width: 992px) {
    .mobile-login-buttons {
        display: grid;
        margin-left: 0px;
    }
    .login-btn {
        margin-top: 10px;
    }
    .mobile-login-row {
        display: block;
    }
}

// Replace bootstrap
.splash {
    background-color: $primary;
    main {
        margin: 3rem 0;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        @media (min-width: 576px) {
            max-width: 540px;
        }
        @media (min-width: 768px) {
            max-width: 720px;
        }
        @media (min-width: 992px) {
            max-width: 960px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }
    .justify-content-center {
        justify-content: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-md-4,
    .col-md-6,
    .col-md-8 {
        width: 100%;
        padding: 12px;
    }
    .col-md-8 {
        @media (min-width: 992px) {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
    }
    .col-md-4 {
        @media (min-width: 992px) {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
    }
    .col-md-6 {
        @media (min-width: 992px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .offset-md-4 {
        @media (min-width: 992px) {
            margin-left: 33.33333%;
        }
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;

    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);

        &:first-child {
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .text-md-right {
        @media (min-width: 992px) {
            text-align: right;
        }
    }
    .col-form-label {
        padding-top: calc(0.375rem + 1px);
        padding-bottom: calc(0.375rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .btn-secondary {
        color: #fff;
        background-color: #545b62;
        border-color: #4e555b;

        &:hover {
            color: #fff;
            background-color: #545b62;
            border-color: #4e555b;
        }
    }
    .btn-link {
        font-weight: 400;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    .btn-primary {
        color: #fff;
        background-color: $primary;
        border-color: #092a5c;

        &:hover {
            color: #fff;
            background-color: #061a39;
            border-color: #04152e;
        }
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    .bg-dark {
        background-color: #343a40;
    }
    .bg-secondary {
        background-color: #6c757d;
    }
    .text-light {
        color: #f8f9fa;
    }
}
