@use 'vuetify/settings' with (
  $color-pack: false,
  $footer-padding: 0px,
  $grid-breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1200px,
  ),
  $container-max-widths: (
    'xs': null,
    'sm': 540px,
    'md': 720px,
    'lg': 960px,
    'xl': 1140px,
    'xxl': 1140px,
  ),
);
