.text-tiny {
  font-size: 10px !important;
}
.ql-size-small,
.text-small {
  font-size: 12px !important;
}

.ql-size-large,
.text-big {
  font-size: 24px !important;
}

.ql-size-huge,
.text-huge {
  font-size: 32px !important;
}

.ql-align-center {
  text-align: center !important;;
}

.ql-align-right {
  text-align: right !important;;
}
